<%= render "pages/header"%>
<div class="container">
	<div class="services">
		<h1 class="title">Contáctanos</h1>
		<div class="line line-short line-about-big"></div>
		<%= render 'form' %>
	<div class="contacto">
		<p class="text"><span>Horario de Oficina</span></br>Lunes-Viernes: 9:00 a.m - 6:00 p.m </p>
		<div class="contacto-img">
		<%= image_tag("icon_phone.png") %>
		<p class="text contacto-text"> Fijo (998) 253.83.53</br>
			Nextel 62*1042090*2
		</p>
		</div>
		<div class="contacto-img">
		<%= image_tag("icon_email.png") %>
		<div><p class="text contacto-text">
		info@zignacreativa.com
		</p></div>
		</div>
		<div class="contacto-img">
		<%= image_tag("icon_adress.png") %>
		<p class="text contacto-text">
		SM. 22 Retorno Azucenas #16 C.P. 77500
		</p>
		</div>


	</div>
</div>
</div>