<div id="ca-container" class="ca-container">
<div class="ca-nav">
	<span class="ca-nav-prev">Previous</span>
	<span class="ca-nav-next">Next</span>
</div>
	<div class="ca-wrapper">
		<!-- Contenido del carrucel -->
		<div class="ca-item">
			<div class="ca-item-main">
				<div class="ca-icon"><%= image_tag("dg-services.png") %></div>
					<h3>Diseño</br> Gráfico</h3>
						<h4>
						<div class="dash_line"><%= image_tag("dashline_services.png") %></div>
						<span>Mejora tu negocio a través de soluciones visualmente creativas ofrecemos un diseño atractivo y funcional capaz de llegar al mercado al que va dirigido y comunicar el de manera eficaz el mensaje con el máximo impacto.</span>
					</h4>
						<%= link_to "Ver Más", services_path , :class => "more" %>
				</div>			
			</div>
			
		<div class="ca-item">
			<div class="ca-item-main">
				<div class="ca-icon"><%= image_tag("webdesign_services.png") %></div>
					<h3>Diseño <br/> Web</h3>
						<h4>
						<div class="dash_line"><%= image_tag("dashline_services.png") %></div>
						<span>Diseñamos y desarrollamos sitios web con las últimas tecnologías de optimización. Utilizamos las mejores herramientas y apegados a los estándares del lenguaje que le permitirá a los buscadores posicionar tu sitio.</span>
					</h4>
						<%= link_to "Ver Más", services_path , :class => "more" %>
				</div>			
		</div>

		<div class="ca-item">
			<div class="ca-item-main">
				<div class="ca-icon"><%= image_tag("mkt_services.png") %></div>
					<h3>Marketing </br> Online</h3>
						<h4>
						<div class="dash_line"><%= image_tag("dashline_services.png") %></div>
						<span>
Existen nuevas herramientas en internet es por eso que desarrollamos estrategias de marketing personalizadas de acuerdo a las necesidades de cada cliente, de forma tal que logran ser reconocidos por su mercado objetivo.</span>
					</h4>
						<%= link_to "Ver Más", services_path , :class => "more" %>
				</div>			
		</div>


		<div class="ca-item">
			<div class="ca-item-main">
				<div class="ca-icon"><%= image_tag("sistemas-services.png") %></div>
					<h3>Sistemas </br> Web</h3>
						<h4>
						<div class="dash_line"><%= image_tag("dashline_services.png") %></div>
						<span>Digitalizamos y Automatizamos tus procesos, te ayudamos a que ahorres tiempo, dinero y controles con exactitud tu negocio.</span>
					</h4>
						<%= link_to "Ver Más", services_path , :class => "more" %>
				</div>			
		</div>

		<div class="ca-item">
			<div class="ca-item-main">
				<div class="ca-icon"><%= image_tag("coporative-services.png") %></div>
					<h3>Imagen </br> Corporativa</h3>
						<h4>
						<div class="dash_line"><%= image_tag("dashline_services.png") %></div>
						<span>Creamos la identidad corporativa de su empresa de manera que se pueda reflejar cada elemento comunicativo adecuadamente.

La imagen de tu empresa es importante, es por eso que nos enfocamos en desarrollar un logo.</span>
					</h4>
						<%= link_to "Ver Más", services_path , :class => "more" %>
				</div>			
		</div>
 
<div class="ca-item">
			<div class="ca-item-main">
				<div class="ca-icon"><%= image_tag("multimedia.png") %></div>
					<h3>Proyectos</br>Multimedia</h3>
						<h4>
						<div class="dash_line"><%= image_tag("dashline_services.png") %></div>
						<span>Llevamos tu imagen a medios interactivos. En donde cada elemento gráfico se exprese en movimiento. Ponemos a tu disposición distintas soluciones.</span>
					</h4>
						<%= link_to "Ver Más", services_path , :class => "more" %>
				</div>			
		</div>




		<!-- fin del contenido -->
	</div>
</div>