<div id="ca-container" class="ca-container">
<div class="ca-nav">
	<span class="ca-nav-prev">Previous</span>
	<span class="ca-nav-next">Next</span>
</div>
	<div class="ca-wrapper">
		<!-- Contenido del carrucel -->
		<div class="ca-item">
			<div class="ca-item-main">
				<div class="ca-icon"><%= image_tag("design.png") %></div>
					<h3>Diseño</br> Gráfico</h3>
						<h4>
						<div class="dash_line"><%= image_tag("dashline_services.png") %></div>
						<span>Mejora tu negocio a través de soluciones visualmente creativas ofrecemos un diseño atractivo y funcional capaz de llegar al mercado al que va dirigido y comunicar el de manera eficaz el mensaje con el máximo impacto.</span>
					</h4>
						<%= link_to "Ver Más", about_path , :class => "more" %>
				</div>			
			</div>
			
		<div class="ca-item">
			<div class="ca-item-main">
				<div class="ca-icon"><%= image_tag("webdesign_services.png") %></div>
					<h3>Diseño <br/> Web</h3>
						<h4>
						<div class="dash_line"><%= image_tag("dashline_services.png") %></div>
						<span>Diseñamos y desarrollamos sitios web con las ultimas técnologias de optimización.  Utilizamos las mejores herramientas y apegados a los  estándares del lenguaje que le permitirá a los buscadores posicionar tu sitio.</span>
					</h4>
						<%= link_to "Ver Más", about_path , :class => "more" %>
				</div>			
		</div>

		<div class="ca-item">
			<div class="ca-item-main">
				<div class="ca-icon"><%= image_tag("mkt_services.png") %></div>
					<h3>Marketing </br> Online</h3>
						<h4>
						<div class="dash_line"><%= image_tag("dashline_services.png") %></div>
						<span>
Existen nuevas herramientas en internet es por eso que desarrollamos estrategias de marketing personalizadas de acuerdo a las necesidades de cada cliente, de forma tal que logran ser reconocidos por su mercado objetivo.</span>
					</h4>
						<%= link_to "Ver Más", about_path , :class => "more" %>
				</div>			
		</div>


		<!-- fin del contenido -->
	</div>
</div>