<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2 class="header-gray">Diseño<div class="header-white">Web</div></h2>
					<p>Diseño y Desarrollo Web adaptado a tus necesidades. Aportamos las mejores soluciones para tu proyecto web.</p>
					<div class="da-img"><%= link_to image_tag("web_services_header.png") %></div>
					<%= link_to "Ver Ahora" ,  services_path , :class => 'da-link' %>
				</div>
				<div class="da-slide">
					<h2 class="header-gray">Posicionamiento
					 <div class="header-white">Web</div></h2>
					<p>Coloca el nombre de tu empresa en los primeros lugares de los buscadores (google, yahoo) y expande tu marca en la web.</p>
					<div class="da-img"><%= link_to image_tag("mkt_services_header.png") %></div>
					<%= link_to "Ver Ahora" ,  services_path , :class => 'da-link' %>
				</div>
				<div class="da-slide">
					<h2 class="header-gray">Imagen
					 <div class="header-white">Corporativa</div></h2>
					<p>Creamos la identidad corporativa de tu empresa logrando reflejar cada elemento comunicativo con precisión.</p>
					<div class="da-img"><%= link_to image_tag("imagen-corp.png") %></div>
					<%= link_to "Ver Ahora" ,  services_path , :class => 'da-link' %>
				</div>
				<div class="da-slide">
					<h2 class="header-gray">Cómo
					 <div class="header-white">Lo Hacemos</div></h2>
					<p>Los tres elementos básicos que al combinarlos producen la mejor experiencia de trabajo PERCIBIR , ANALIZAR y DESARROLLAR. </p>
					<div class="da-img"><%= link_to image_tag("brain_home.png") %></div>
					<%= link_to "Ver Ahora" ,  about_path , :class => 'da-link' %>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
        </div>
