<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2 class="header-gray">Diseño<div class="header-white">Web</div></h2>
					<p>Diseño y Desarrollo Web adaptado a tus necesidades. Aportamos las mejores soluciones para tu proyecto web.</p>
					<div class="da-img"><%= link_to image_tag("web_services_header.png") %></div>
					<%= link_to "Ver Ahora" ,  services_path , :class => 'da-link' %>
				</div>
				<div class="da-slide">
					<h2 class="header-gray">Posicionamiento
					 <div class="header-white">Web</div></h2>
					<p>Potencializa tu marca en la WEB, te ayudamos a que tu negocio sea de las primeras opciones en Google,Yahoo y en los principales buscadores.</p>
					<div class="da-img"><%= link_to image_tag("mkt_services_header.png") %></div>
					<%= link_to "Ver Ahora" ,  services_path , :class => 'da-link' %>
				</div>
				<div class="da-slide">
					<h2 class="header-gray">Imagen
					 <div class="header-white">Corporativa</div></h2>
					<p>Creamos la identidad corporativa de tu empresa de manera que se pueda reflejar cada elemento comunicativo adecuadamente.</p>
					<div class="da-img"><%= link_to image_tag("imagen-corp.png") %></div>
					<%= link_to "Ver Ahora" ,  services_path , :class => 'da-link' %>
				</div>
				<div class="da-slide">
					<h2 class="header-gray">Cómo
					 <div class="header-white">Trabajamos</div></h2>
					<p>Nuestro procedimineto de trabajo consiste en: ESCUCHAR, ANALIZAR, DESARROLLAR Y ENTREGAR. </p>
					<div class="da-img"><%= link_to image_tag("brain_home.png") %></div>
					<%= link_to "Ver Ahora" ,  services_path , :class => 'da-link' %>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
        </div>
