<%= render "header"%>
<div class="container">
	<div class="services">
<h1 class="title">Muestras Gr치ficas</h1>
		<div class="line line-short line-about-big"></div>
<section>
				<ul id="da-thumbs" class="da-thumbs">
					<li>
							<%= link_to asset_path("1-full.jpg")  , class: "fancy"   do  %>
							<%= image_tag("1.jpg") %>
							<div><span>Imagen Corporativa</span></div>
							<% end %>
					</li>

					<li>
							<%= link_to asset_path("2-full.jpg")  , class: "fancy"   do  %>
							<%= image_tag("2.jpg") %>
							<div><span>Imagen Corporativa</span></div>
							<% end %>
					</li>

					<li>
							<%= link_to asset_path("3-full.jpg")  , class: "fancy"   do  %>
							<%= image_tag("3.jpg") %>
							<div><span>Pieza Gr치fica</span></div>
							<% end %>
					</li>

					<li>
							<%= link_to asset_path("4-full.jpg")  , class: "fancy"   do  %>
							<%= image_tag("4.jpg") %>
							<div><span>Pieza Gr치fica</span></div>
							<% end %>
					</li>

					<li>
							<%= link_to asset_path("5.swf")  , class: "fancy"  do  %>
							<%= image_tag("5.jpg") %>
							<div><span>Banner Interactivo</span></div>
							<% end %>
					</li>

					<li>
							<%= link_to asset_path("6-full.jpg")  , class: "fancy"   do  %>
							<%= image_tag("6.jpg") %>
							<div><span>Pieza Gr치fica</span></div>
							<% end %>
					</li>

					<li>
							<%= link_to asset_path("7-full.jpg")  , class: "fancy"   do  %>
							<%= image_tag("7.jpg") %>
							<div><span>Proyecto Web</span></div>
							<% end %>
					</li>
				</ul>
			</section>
		</div>
	</div>