
<%= link_to image_tag("button_top_footer.png" , :class => "button-footer") , "#telefono"%>

<footer class="foot">
<div class="container">
	<div class="section group">
		<div class="col span_1_of_3">
		<h3>Contáctanos</h3>
		<p>
			SM. 22 Retorno Azucenas #16</br>
			Teléfono: (998) 253.83.53</br>
			<a href="mailto:info@zignacreativa.com">info@zignacreativa.com</a>
		</p>
		</div>
		<div class="col span_1_of_3">
			<div class="tags">
				<h3>Tags</h3>
				<div class="half">
					<%= link_to "Diseño Web", services_path %><br>
					<%= link_to "Imagen Corporativa", services_path %><br>
					<%= link_to "Diseño Gráfico", services_path %><br>
				</div>
				<div class="half">
					<%= link_to "Marketing Online", services_path %><br>
					<%= link_to "Multimedia", services_path %><br>
					<%= link_to "CEO y SEM", services_path %><br>
				</div>
			</div>
		</div>
		<div class="col span_1_of_3">
			<div class="twitter-footer">
				<h3>Último tweet</h3>
				<%  t = Twitter.user_timeline("zignacreativa").first %>
				<div><h4>@<%= t.user.screen_name %></h4><%= t.text %><h4><%=  t.created_at.strftime("%I:%M %p") %></h4></div>
			</div>
		</div>
	</div>
</div>
</footer>