<footer class="img-footer">
<ul class="menu menu-footer">
	<li><%= link_to "Home", root_path %></li>
	<li></div><%= link_to "Nosotros", about_path %></li>
	<li><%= link_to "Servicios" , services_path %></li>
	<li><%= link_to "Portafolio" , portfolio_path %></li>
	<li><%= link_to "Contacto" , contact_path %></li>
</ul>
<div class="container">
<p>© 2012 <a href="zignacreativa.com">zignacreativa.com</a></p>
</div>
</footer>