<div class="telefono" id="telefono"><%= image_tag("phone_zigna.png")%></div>
<header>
<%= link_to image_tag("header_logo.png") , root_path %>	
<ul class="menu">
	<li><div class="line-menu"></div><%= link_to "Home", root_path %></li>
	<li><div class="line-menu"></div><%= link_to "Nosotros", about_path %></li>
	<li><div class="line-menu"></div><%= link_to "Servicios", services_path %></li>
	<li><div class="line-menu"></div><%= link_to "Portafolio", portfolio_path %></li>
	<li> <%= link_to "Contacto", contact_path %></li>
</ul>
</div>
</header>